@use "sass:math";
// 色
$white: #fff;
$black: #000;
$section-black: #00293C;
$red: #F62A00;
$dark-blue: #00293C;
$light-blue: #1E656D;
$deep-green: #00583C;
$green: #5BC8A5;
$light-beige: #F1F3CE;
$light-gray: #F5F5F5;
$dark-gray: #333;